[Unit]
Description=KeyMaster SSH service avatar
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/keymaster-avatar/bin/km-ssh-sa \
    --avatar-socket /run/keymaster-avatar/api-%U.sock \
    --agent-socket %t/keymaster-ssh-agent.sock
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
