[Unit]
Description=KeyMaster GPG service avatar
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/keymaster-avatar/bin/km-gpg-sa \
    --avatar-socket /run/keymaster-avatar/api-%U.sock \
    --gnupg-home %t/gnupg-keymaster
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
